input{
	width: 100px;
	padding: 5px;
	background-color: antiquewhite;
}

form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 20px;
	background-color: rgba(0, 0, 255, 0.381);
	max-width: 150px;
}

label{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 5px;
}

.formBtn{
	padding: 5px 10px;
background-color: blue;
color: aliceblue;
}

.messageError{
	background-color: red;
	color: white;
	padding: 3px;
	border-radius: 3px;
}