@import-normalize;

@import './components/TodoList/TodoList.css';

@import './components/Inputs/Inputs.css';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: -webkit-linear-gradient(90deg,#4a1c58,#7c346c,#934c7f,#5e2962);
	background: linear-gradient(90deg,#4a1c58,#7c346c,#934c7f,#5e2962);
	margin-bottom: 30px;
  }
  
  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
  }
  
  #root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
  }
